<footer class="footer">
  <small>
	By Viviana Botero Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
	<ul>
  	<li><%= link_to "Créditos", “about_path” %></li>
  	<li><a href="http://www.MIPAGINA.co/">MYCOMPAÑIA</a></li>
	</ul>
  </nav>
</footer>